RewriteCond %{REQUEST_URI} !^/(css|img|mjs|partials|rest|favicon).*$ [OR]
RewriteCond %{REQUEST_PATH} !-f
RewriteCond %{REQUEST_PATH} !-d
RewriteCond %{REQUEST_PATH} !-s
RewriteCond %{REQUEST_URI} !\.(mp4|mp3|mov|mpg|mpeg|webm|wmv|ogg)$ [NC]
RewriteCond %{REQUEST_PATH} !/api/(.*)
RewriteRule ^(.*)$ /index.html